body {
border-radius: 8px;
border: none;
background: #1f1f1f;
color: #fff;
}


button {
padding: 12px;
border-radius: 8px;
border: none;
background: #ff6600;
color: #fff;
font-weight: bold;
cursor: pointer;
}


#result {
margin-top: 15px;
padding: 12px;
border-radius: 10px;
background: #1f1f1f;
}


footer {
margin-top: 10px;
text-align: center;
font-size: 12px;
color: #aaa;
}
